.iconExtraSmall {
    height: 10px;
    width: 10px;
}

.iconSmall {
    height: 14px;
    width: 14px;
}

.iconLarge {
    height: 20px;
    width: 20px;
}

.icon1x {
    height: 22px;
    width: 22px;
}

.icon2x {
    height: 25px;
    width: 25px;
}

.icon3x {
    height: 30px;
    width: 30px;
}

.icon4x {
    height: 64px;
    width: 64px;
}
